<!-- inheriting from the base file -->
{% extends 'cards/base.html' %}

<!-- this will help render the images -->
{% load static %}

{% block content %}


<div class="container mb-4">
    <div class="row">
		<a href="{% url 'add-card' %}" class="col-12 m-2 btn btn-outline-dark btn-sm">Add Card</a>
	</div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
		<!-- using a for loop to loop through all the cards -->
		{% for card in cards %}
		<div class="col-md-4">
			<div class="card my-2">
				<a href="">
					<!-- this is the card image -->
					<img src="{{ card.image.url }}" class="card-img-top" style="height:275px" />
				</a>
				<div class="card-body">
					<!-- this is the card title -->
					<h4 class="card-text">{{ card.title }}</h4>
				</div>
				<a href="{% url 'card-detail' card.id %}" class="m-2 btn btn-outline-dark btn-sm">View Card</a>
			</div>
		</div>
		{% endfor %}
    </div>
</div>

{% endblock %}